.{
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    
}
.link-text{
    color:blue ;
}
.in-text{
    background-color: blue;
    color: white;
}
.text{
    text-align: center
}
.l{
    color: blue;
}
.m{
    background-color: blue;
    color:white ;
}